$color_1: black;
$color_2: white;
$color_3: rgba(154, 144, 108, 1);
$font-family_1: 'Alegreya', serif;
$font-family_2: 'Roboto', sans-serif;
$font-family_3: sans-serif;
$font-family_4: serif;
$background-color_1: black;
$background-color_2: rgb(148, 146, 146);
$background-color_3: white;
$background-color_4: rgb(68, 68, 68);
$background-color_5: transparent;
$background-color_6: #bbb;
$background-color_7: rgb(129, 129, 129);
$background-color_8: rgba(154, 144, 108, 1);
$border-color_1: rgba(154, 144, 108, 1);

$font-sizes: (
    "small": 13px,
    "medium": 15px,
    "large": 18px
    )